.menu {
  height: 50px;
  padding: 30px;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 217, 0, 0.822);
  margin: 10px;
}

.menu *:hover {
  cursor: default;
}

.logo {
  font-size: x-large;
}

.lives {
  font-size: xx-large;
  color: red;
  width: 50px;
}

.hints {
  width: 50px;
}
.undo-container {
  width: 50px;
}
.safe-clicks {
  width: 70px;
}

.logo:hover {
  cursor: pointer;
}

.hint:hover {
  cursor: pointer;
}

.safe-click:hover {
  cursor: pointer;
}

.manual-mine:hover {
  cursor: grabbing;
}

.dragging {
  opacity: 0.35;
}

.undo:hover {
  cursor: pointer;
}
